img.tops-image-small {
    width: 100%;
    max-width: 250px;
    height: auto;
}

img.tops-image-medium {
    width: 100%;
    max-width: 450px;
    height: auto;
}

img.tops-image-large {
    width: 100%;
    max-width: 850px;
    height: auto;
}