.bd-article-container .bd-article img {
    margin-bottom: 12px;
}

img.tops-image-small {
    width: 100%;
    max-width: 250px;
    height: auto;
}

img.tops-image-medium {
    width: 100%;
    max-width: 400px;
    height: auto;
}

img.tops-image-large {
    width: 100%;
    max-width: 900px;
    height: auto;
}

.bd-article table tbody, .bd-article table td, .bd-article table tfoot, .bd-article table th, .bd-article table thead, .bd-article table tr {
    border: 0 solid;
    border-color: inherit;
}

.bd-article table {
    --bs-table-bg: transparent;
    --bs-table-color: var(--pst-color-text-base);
    border: 1px solid var(--pst-color-table-outer-border);
    color: var(--pst-color-table);
    margin-bottom: 1rem;
}

.bd-article table>thead {
    vertical-align: bottom;
}

.bd-article table>tbody {
    vertical-align: inherit;
}

.bd-article table tr {
    background-color: var(--pst-color-table-heading-bg);
    border-bottom: 2px solid var(--pst-color-primary);
}

.bd-article table tbody tr:nth-child(odd) {
    background-color: var(--pst-color-table-row-zebra-low-bg);
}

.bd-article table tbody tr:hover {
    background-color: var(--pst-color-table-row-hover-bg);
}

.bd-article table>:not(caption)>*>* {
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
    padding: .5rem;
}

.bd-article table td~td, .bd-article table td~th, .bd-article table th~td, .bd-article table th~th {
    border-left: 1px solid var(--pst-color-table-inner-border);
}