.bd-article-container .bd-article img {
    margin-bottom: 12px;
}

img.tops-image-tiny {
    width: auto;
    height: 35px;
}

img.tops-image-small {
    width: 100%;
    max-width: 250px;
    height: auto;
}

img.tops-image-medium {
    width: 100%;
    max-width: 400px;
    height: auto;
}

img.tops-image-large {
    width: 100%;
    max-width: 900px;
    height: auto;
}

.bd-article table:not(.table) tbody, .bd-article table:not(.table) td, .bd-article table:not(.table) tfoot, .bd-article table:not(.table) th, .bd-article table:not(.table) thead, .bd-article table:not(.table) tr {
    border: 0 solid;
    border-color: inherit;
}

.bd-article table:not(.table) {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    border-color: var(--bs-table-border-color);
    margin-bottom: 1rem;
    vertical-align: top;
    width: 100%;
}

.bd-article table:not(.table) {
    --bs-table-bg: transparent;
    --bs-table-color: var(--pst-color-text-base);
    border: 1px solid var(--pst-color-table-outer-border);
    color: var(--pst-color-table);
    margin-bottom: 1rem;
}

.bd-article table:not(.table)>thead {
    vertical-align: bottom;
}

.bd-article table:not(.table)>tbody {
    vertical-align: inherit;
}

.bd-article table:not(.table) tr {
    background-color: var(--pst-color-table-heading-bg);
    border-bottom: 2px solid var(--pst-color-primary);
}

.bd-article table:not(.table) tbody tr:last-of-type {
    border-bottom: none;
}

.bd-article table:not(.table) tbody tr:last-of-type td {
    border-bottom: none;
}

.bd-article table:not(.table) tbody tr:nth-child(odd) {
    background-color: var(--pst-color-table-row-zebra-low-bg);
}

.bd-article table:not(.table) tbody tr:hover {
    background-color: var(--pst-color-table-row-hover-bg);
}

.bd-article table:not(.table)>:not(caption)>*>* {
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
    padding: .5rem;
}

.bd-article table:not(.table) td~td, .bd-article table:not(.table) td~th, .bd-article table:not(.table) th~td, .bd-article table:not(.table) th~th {
    border-left: 1px solid var(--pst-color-table-inner-border);
}